.options {
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 94px 9vw 0;
	padding-top: 94px;
	background: transparent;
	z-index: 100;
}
