[data-theme="light"] {
	.star1 {
		background-image: url("star1.svg");
	}
	.star2 {
		background-image: url("star2.svg");
	}
}

[data-theme="dark"] {
	.star1 {
		background-image: url("star1-dark.svg");
	}
	.star2 {
		background-image: url("star2-dark.svg");
	}
}

body {
	width: 100vw;
	overflow-x: hidden;
}

.homePage {
	width: 100vw;
	display: grid;
	min-height: 100vh;
	padding: 5vw;
	background: var(--bg-color);
}
@media (width <= 500px) {
	.star1 {
		position: fixed;
		left: -50vw;
		top: -50vw;
		width: 110vw;
		aspect-ratio: 1;
		z-index: 10;
		background: transparent;
		background-position: center;
		background-size: cover;
	}
	.star2 {
		position: fixed;
		top: 50vw;
		right: -25vw;
		width: 100vw;
		aspect-ratio: 1;
		background: transparent;
		background-position: center;
		background-size: cover;
	}
	.title {
		position: fixed;
		user-select: none;
		z-index: 30;
		font-family: var(--unbounded), sans-serif;
		background: transparent;
		font-size: 30vw;
	}
	.beginBtnBox {
		position: fixed;
		background: transparent;
		justify-self: center;
		width: 35vw;
		aspect-ratio: 3;
		bottom: 5vw;
	}
	.content {
		font-family: var(--stolzl);
		background: transparent;
		position: fixed;
		z-index: 30;
		top: 100vw;
		left: 30vw;
		font-size: 7vw;
		width: 66vw;
	}
}
