
.loginRoot {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background: transparent;
	display: flex;
	justify-content: center;
	overflow: hidden;
	backdrop-filter: blur(8px);
}
.loginBox {
	position: absolute;
	z-index: 50;
	width: 80vw;
	height: 50vh;
	background: #fff;
	border: none;
	border-radius: 30px;
	padding: 2vh 5vw;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	max-height: 350px;
}
.title {
	font-family: "Stolzl";
	font-size: 8vw;
	background: transparent;
	margin-bottom: 2vh;
}
.link {
	font-family: "Stolzl";
	background: #e9e9e9;
	display: flex;
	align-items: center;
	padding: .4vh 3vw;
	border: none;
	border-radius: 10px;
	margin: 1vh 0;
	cursor: pointer;
	p {
		user-select: none;
		background: transparent;
		width: fit-content;
		margin-left: 3vw;
		font-size: 5vw;
	}
	img {
		height: calc((1vh + 1vw) / 2 * 5);
		aspect-ratio: 1;
	}
}
.linksBox {
	background: transparent;
	display: grid;
	width: 100%;
	flex: 1;
	gap: 1%;
}
