.link {
	font-family: "Stolzl";
	background: #e9e9e9;
	display: flex;
	align-items: center;
	padding: .4vh 3vw;
	border: none;
	border-radius: 10px;
	margin: 1vh 0;
	cursor: pointer;
	p {
		user-select: none;
		background: transparent;
		width: fit-content;
		margin-left: 3vw;
		font-size: 5vw;
	}
	img {
		height: calc((1vh + 1vw) / 2 * 5);
		aspect-ratio: 1;
	}
}
