
.linkIn {
	position: fixed;
	background: transparent;
	width: 12vw;
	max-width: 70px;
	aspect-ratio: 1;
	z-index: 200;
	top: 17px;
	right: 17px;
	cursor: pointer;
	border: none;
	border-radius: 100%;
}
