:root {
	--light: #EFE5E5;
	--dark: #131315;
	--text-color: var(--dark);
	--bg-color: var(--bg-light);
	--grey-300: #323237;
	--grey-200: #4D4D51:
}
[data-theme="light"] {
	--bg-color: var(--light);
	--text-color: var(--dark);
}
[data-theme="dark"] {
	--bg-color: var(--dark);
	--text-color: #fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text-color);
	background: var(--bg-color);
}

/* cyrillic-ext */
@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("/public/unbounded-main/WOFF/Unbounded-Regular.woff2") format('woff2');
}

@font-face {
	font-family: "Stolzl";
 	font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("/public/Stolzl/stolzl_regular.woff") format('woff2');
}
