[data-theme="dark"] {
	.addButton {
		background: var(--text-slate);
		border-color: var(--white);
	}
}
[data-theme="light"] {
	.addButton {
		background: var(--white);
		border-color: var(--text-slate);
	}
}
.addButton {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 22px;
	font-family: "Stolzl";
	bottom: 30px;
	height: 40px;
	color: rgba(255, 255, 255, 0.7);
	border: 1px solid;
	min-width: 140px;
	width: 30vw;
	font-size: 20px;
	cursor: pointer;
}
