[data-theme="light"] {
	--star1: url("star1.svg");
	--star2: url("star2.svg");
}

[data-theme="dark"] {
	--star1: url("star1-dark.svg");
	--star2: url("star2-dark.svg");
}

@media (width <= 500px) {
	.star1 {
		position: fixed;
		left: -50vw;
		top: -50vw;
		width: 110vw;
		aspect-ratio: 1;
		z-index: 10;
		background: transparent;
		background-image: var(--star1);
		background-position: center;
		background-size: cover;
	}
	.title {
		position: fixed;
		z-index: 20;
		background: transparent;
		font-family: "Unbounded";
		width: 10vw;
		top: 8px;
		left: 5vw;
		font-size: 8vw;
	}
}
