
[data-theme="dark"] {
	.splitContainer::after {
		background: var(--grey-200);
	}
}
[data-theme="light"] {
	.splitContainer::after {
		background: #fff;
	}
}

.splitContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-radius: 22px;
	width: 100%;
	padding: 12px;
	background: transparent;
	color: var(--text-color);
	font-family: "Stolzl";
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		border-radius: 22px;
		opacity: 0.7;
		z-index: -2;
	}
	p {
		background: transparent;
	}
	.inputContainer {
		background: transparent;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}
