
[data-theme="light"] {
	--user-info-block-bg: #fff;
}
[data-theme="dark"] {
	--user-info-block-bg: var(--grey-300);
}

.userInfoBlock {
	display: flex;
	flex-direction: column;
	user-select: none;
	width: 100%;
	min-height: 65px;
	background: var(--user-info-block-bg);
	border: none;
	border-radius: 20px;
	padding: 10px;
	row-gap: 4px;
}
.title {
	background: transparent;
	font-size: 14px;
	color: var(--text-slate);
	font-family: "Stolzl";
}
.content {
	background: transparent;
	color: var(--text-color);
	font-family: "Stolzl";
}
.currency {
	&::after {
		content: ' ₽';
		font-family: "Unbounded";
		font-size: 14px;
	}
}
