
[data-theme="light"] {
	.logout {
		background: #fff;
	}
	.icon {
		background-image: url("logout-icon-black.svg");
	}
}
[data-theme="dark"] {
	.logout {
		background: #2C2C2E;
	}
	.icon {
		background-image: url("logout-icon-white.svg");
	}
}
.logout {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1;
	border: none;
	border-radius: 100%;
	cursor: pointer;
}
.icon {
	width: 11px;
	height: 15px;
	background-position: center;
	background-size: cover;
}
